/* section Boisson énergisante 100% naturelle */

.block_home {
    background-color: #ECE2DA;
}

.title_home {
    color: #3B8E46;
    padding-top: 105px;
    padding-left: 20%;
    padding-right: 20%;
}

.home_picture {
    text-align: center;
}

/* section pour l'arrondie */

.round {
    padding-bottom: 60px;
    margin-bottom: 8px;
    margin-top: -1px;
    border-radius: 0 0 70% 70%;
    box-shadow: 0 10px 0 rgb(225 217 209);
    border: 1px solid rgba(229, 229, 229);
    color: #ECE2DA;
    background-color: #ECE2DA;
}

/* section "L'énergie des plantes" */

.block_plants {
    background-color: white;
}

.title_plants {
    padding-bottom: 47px;
    padding-top: 60px;
    color: #3B8E46;
    text-align: center;
}

.text_plants {
    width: 30% !important;
    padding-bottom: 82px;
}

/* section "Les goûts" */

.container_tastes {
    margin: auto;
    background-color: #ECE2DA;
}

.title_tastes {
    color: #D2776A;
    padding-top: 56px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 800;
}

.text_tastes {
    padding-bottom: 48px;
}

.spectra-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 19%;
    padding-right: 19%;
}

.spectra-image-gallery__media-wrapper--isotope {
    padding: 20px 15px 20px 15px !important;

}

.button_order {
    width: 198px;
    height: 102px;
    padding-top: 47px;
}

/* section pour l'arrondie */

.round-little {
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: -1px;
    border-radius: 0 0 70% 70%;
    border: 1px solid rgba(229, 229, 229);
    color: #E5E5E5;
    background-color: #ECE2DA;
}

/* section "Ce qu'ils en pensent" */

.wp-block-uagb-container.block_think.uagb-block-971a5ec2 {
    padding-left: 30px;
    padding-right: 30px;
}

.title_think {
    color: #3B8E46 !important;
    font-weight: 800;
    text-align: center;
    padding-top: 100px !important;
}

.containers_comments {
    flex-basis: 400px;
    margin: 0 !important;
}

.uagb-container-inner-blocks-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container_text {
    margin-left: -102px !important;
}

.names_comments {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #3B8E46;
}

.text_comments {
    text-align: start;
    line-height: 19.2px;
    font-size: 16px;
}

.bobines_picture_home {
    margin-top: 115px;
}

.wp-block-uagb-container.uagb-is-root-container {
    margin-left: O !important;
    margin-right: 0 !important;
}

/* le contre WP */

.wp-block-uagb-container {
    position: initial;
    /* sur les pages nous rencontrer et boisson energisante, permet de ne pas masquer le header en responsive */
}

.wp-block-uagb-container.uagb-block-315acf65 {
    flex-direction: row !important;
}

.containers_comments {
    flex-direction: row !important;
}


@media all and (max-width: 1200px) {

    .bloc_tastes_pictures {
        width: 80%;
        margin: auto;
    }

    .spectra-image-gallery__media-thumbnail-caption.spectra-image-gallery__media-thumbnail-caption--bar-inside {
        font-size: 225% !important;
    }

    .spectra-image-gallery {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media all and (max-width: 768px) {
    .title_home {
        padding-top: 160px;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 30px;
    }

    .spectra-image-gallery {
        padding-left: 12%;
        padding-right: 12%;
    }

    .wp-block-uagb-container.uagb-block-704a5049 {
        padding-left: 85px !important;
    }
}

@media all and (max-width: 400px) {
    .spectra-image-gallery {
        padding-left: 0%;
        padding-right: 0%;
    }

    .title_home {
        padding-left: 0%;
        padding-right: 0%;
        font-size: 25px;
    }

    .wp-block-uagb-container.uagb-block-45f1b129 {
        padding-left: 90px !important;
    }

    .wp-block-uagb-container.uagb-block-380ef1ad {
        padding-left: 85px !important;
    }
}