/*.title_home {
    color: #3B8E46;
    padding-top: 105px;
    padding-left: 20%;
    padding-right: 20%;
    padding-left: 20%;
}

.home_picture {
    margin-left: 21%;
}

.background {
    background-color: #FFFF;
    padding-bottom: 10px;
}

.round {
    padding-bottom: 60px;
    margin-bottom: 8px;
    border-radius: 0 0 70% 70%;
    box-shadow: 0 10px 0 rgb(225 217 209);
    border: 1px solid rgba(229, 229, 229);
    color: #ECE2DA;
    background-color: #ECE2DA;
}

/* bloc "L'énergie des plantes" 

.is-layout-constrained.wp-block-group {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: white;
}

.title_plants {
    padding-bottom: 30px;
    color: #3B8E46;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.text_plants {
    width: 30%;
    margin: auto;
}

/* bloc "Les goûts" 

.title_tastes {
    color: #D2776A;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 20px;
}

.bloc_tastes {
    background-color: #ECE2DA;
}

.is-layout-constrained.wp-block-group.bloc_tastes_pictures {
    background-color: #ECE2DA;
}

.wp-block-image.size-full.home_pictures_tastes {
    display: flex;
}

.bloc_tastes_pictures {
    width: 65%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 56px;
    padding-left: 1%;
    padding-right: 1%;
}

.wp-block-image {
    box-sizing: content-box;
}

.home_pictures_tastes {
    width: 394px;
    object-fit: scale-down;
    padding: 17px 13px 17px 13px;
}

.wp-element-caption {
    color: #fff;
    font-size: 48px !important;
    background: none !important;
    font-family: Syne;
    font-weight: 800;
    line-height: 57.6px;
    max-height: 60%;
    overflow: hidden !important;
    padding: 0 8px 11px !important;
    position: absolute;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    bottom: inherit !important;
    text-align: center;
}

/*.meet_container {
    max-width: 816px;
    padding-left: 20%;
    column-count: 2;
    flex-basis: 50%;
}

.wp-block-cover.is-light {
    max-height: 262px;
}

.wp-block-button__link {
    background-color: #E0B9B4;
    border-radius: 0;
    margin-bottom: 1px;
}

.background_little {
    background-color: #FFFF;
    padding-bottom: 100px
}

.round_little {
    padding-top: 35px;
    padding-bottom: 20px;
    border-radius: 0 0 70% 70%;
    border: 1px solid rgba(229, 229, 229);
    color: #E5E5E5;
    background-color: #ECE2DA;
}

.think {
    height: 638px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 530px;
}

.has-text-align-center.think {
    color: #3B8E46;
    font-weight: 800;
    font-size: 30px;
    height: 36px;
    padding-bottom: 100px;
}

.wp-block-uagb-container.uagb-block-01686bbd.alignfull.uagb-is-root-container {
    background-color: white;
    padding-bottom: 132px;
    padding-right: 5%;
    padding-left: 5%;
}

.wp-block-uagb-container.uagb-block-3a36dea6,
.wp-block-uagb-container.uagb-block-99077486,
.wp-block-uagb-container.uagb-block-659243f8 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.wp-block-image.size-full.pictures_think {
    display: flex;
    justify-content: flex-end;
}

.first_name_think {
    color: #3B8E46;
    font-weight: 700;
    font-size: 30px;
    font-family: syne;
}

.comments {
    font-size: 16px;
    line-height: 19.2px;
    text-align: start;
}

/*bloc_comments {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 50px
}
.wp-block-uagb-container.uagb-block-b6f35fdc.alignfull.uagb-is-root-container {
    background-color: white;
    padding-bottom: 100px;
}

.wp-image-1645 {
    height: initial;
    width: 100%;
    background-color: white;
}
/* section Boisson énergisante 100% naturelle */


.title_home {
    color: #3B8E46;
    padding-top: 105px;
    padding-left: 20%;
    padding-right: 20%;
}

.home_picture {
    padding-left: 50px;
    padding-right: 50px;
}

.wp-image-1931 {
    margin-right: 20px;
}

/* section pour l'arrondie */

.background {
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

.round {
    padding-bottom: 60px;
    margin-bottom: 8px;
    border-radius: 0 0 70% 70%;
    box-shadow: 0 10px 0 rgb(225 217 209);
    border: 1px solid rgba(229, 229, 229);
    color: #ECE2DA;
    background-color: #ECE2DA;
}

/* section "L'énergie des plantes" */

.block_plants {
    background-color: white;
}

.title_plants {
    padding-bottom: 47px;
    padding-top: 60px;
    color: #3B8E46;
    text-align: center;
}

.text_plants {
    width: 30% !important;
    padding-bottom: 82px;
}

/* section "Les goûts" */



.title_tastes {
    color: #D2776A;
    padding-top: 56px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 800;
}

.text_tastes {
    padding-bottom: 48px;
}

.spectra-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spectra-image-gallery__media-wrapper--isotope {
    padding: 2%;
    object-fit: scale-down;
}

.button_order {
    width: 198px;
    height: 102px;
    padding-top: 47px;
}

/* section pour l'arrondie */

.background-little {
    background-color: #FFFF;
    padding-bottom: 100px
}

.round-little {
    padding-top: 35px;
    padding-bottom: 20px;
    border-radius: 0 0 70% 70%;
    border: 1px solid rgba(229, 229, 229);
    color: #E5E5E5;
    background-color: #ECE2DA;
}

/* section "Ce qu'ils en pensent" */

.block_comments {
    background-color: white;
}

.wp-block-uagb-container.block_think.uagb-block-971a5ec2 {
    padding-left: 5%;
    padding-right: 5%;
}

.title_think {
    color: #3B8E46;
    font-weight: 800;
    text-align: center;
    padding-bottom: 65px;
}

.containers_comments {
    width: 29% !important;
}

.container_text {
    margin-left: -102px !important;
}

.names_comments {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #3B8E46;
}

.text_comments {
    text-align: start;
    line-height: 19.2px;
    font-size: 16px;
}

.wp-image-1645 {
    background-color: white !important;
    padding-top: 115px;
}

.wp-block-uagb-container.uagb-is-root-container {
    margin-left: O !important;
    margin-right: 0 !important;
}


@media all and (max-width: 1250px) {
    .spectra-image-gallery__media-thumbnail-caption.spectra-image-gallery__media-thumbnail-caption--bar-inside {
        font-size: 250% !important;
    }
}

@media all and (max-width: 1050px) {
    .spectra-image-gallery__media-thumbnail-caption.spectra-image-gallery__media-thumbnail-caption--bar-inside {
        font-size: 225% !important;
    }
}


@media all and (max-width: 976px) {
    .spectra-image-gallery__layout--masonry-col-tab-3.spectra-image-gallery__media-wrapper--isotope {
        width: 49%;
    }
}

@media all and (max-width: 950px) {
    .bloc_tastes_pictures {
        width: 80%;
        margin: auto;
    }

    .text_plants {
        width: 60% !important;
        margin: auto;
    }
}

@media all and (max-width: 900px) {
    .block_think {
        display: contents;
    }
}

@media all and (max-width: 814px) {
    .title_home {
        padding-top: 150px;
    }
}

@media all and (max-width: 700px) {
    .spectra-image-gallery__media-thumbnail-caption.spectra-image-gallery__media-thumbnail-caption--bar-inside {
        font-size: 175% !important;
    }

    .bloc_tastes_pictures {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .title_home {
        padding-top: 150px;
        padding-left: 8%;
        padding-right: 8%;
    }
}


@media all and (max-width: 490px) {
    .title_home {
        padding-top: 215px;
    }

    .spectra-image-gallery.spectra-image-gallery__layout--masonry.spectra-image-gallery__layout--masonry-col-2.spectra-image-gallery__layout--masonry-col-tab-3.spectra-image-gallery__layout--masonry-col-mob-2 {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}


@media all and (max-width: 490px) {
    .title_home {
        padding-top: 215px;
    }
}

@media all and (max-width: 470px) {
    .title_home {
        font-size: 150%;
    }
}