.page-id-1671 {
    background-color: #3D9448;
    margin: auto;
}

.post-1671 {
    width: 860px;
    margin: auto;
}

.title_order {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.wp-block-separator {
    color: #FFFFFF;
}

.title_commande {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    padding: 40px 30px 39px 0;
}

/* section "votre commande"*/

.page-id-1671.wp-image-167 {
    padding-bottom: 10px;
}

.wp-block-uagb-container.container_order_picture {
    padding-left: 0;
    padding-right: 0;
}

.wp-block-image.size-full.order_picture {
    text-align: center;
}

.commande {
    padding-top: 14px;
    display: flex;
    justify-content: center;
}

.quantity {
    width: 50px;
    height: 55px;
    text-align: center;
    border: 1px solid white;
    border-radius: 6px 0 0 6px;
}

.more_less {
    width: 31px;
    height: 55px;
    color: #FFFFFF;
    background-color: #DC9F96;
    border-radius: 0 6px 6px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button_separator {
    width: 100%;
    border: 0.5px solid white;
}

.ok {
    width: 100px;
    height: 56px;
    margin-left: 5%;
    background-color: #E0B9B4;
    color: white;
    border-radius: 5px;
    border: none;
}

.wp-block-gallery-commander {
    display: flex;
    flex-wrap: nowrap;
}

.page-id-1671 .is-layout-flex {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}

/* section formulaire */

.title_order_forms {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    padding: 5px 0 29px 0;
}

/* formulaire de contact form7 */

.order_forms {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    color: #FFFFFF;
}

.form_column_left {
    border-right: 1px solid white;
    padding-right: 45px;
    margin-top: 55px;
}

.form_column_right {
    margin-top: 55px;
    margin-left: 45px;
}

.wpcf7-form.init {
    width: 60%;
    margin: auto;
    margin-bottom: 93px;
}

.wpcf7-form-control.wpcf7-text {
    height: 71px;
    width: 383px;
    border-radius: 7px;
    border: none;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    margin-top: 13px;
    margin-bottom: 0;
}

.label {
    font-family: Syne, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: start;
}

.champs {
    margin-top: 30px;
}

.champs>p {
    text-align: start;
}

.wpcf7-submit {
    width: 198px;
    height: 55px;
    color: #FFFFFF;
    background-color: #E0B9B4;
    margin-top: 44px;
    border: 1px solid #E0B9B4;
}

.wpcf7-form-control.has-spinner.wpcf7-submit {
    border-radius: 5px;
}

@media all and (max-width: 970px) {}

@media all and (max-width: 970px) {

    .entry-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .wpcf7-form-control.wpcf7-text {
        width: 350px;
    }
}

@media all and (max-width: 814px) {
    .title_order {
        padding-top: 150px;
    }
}

@media all and (max-width: 767px) {
    /*.post-1671 {
        width: 80%;
        margin: auto;
    }*/

    .title_form_livraison {
        color: #3D9448;
        padding-top: 1px;
    }

    .order_forms {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #FFFFFF;
        width: 70%;
    }
}

@media all and (max-width: 782px) {

    .form_column_left {
        border-right: none;
        padding-right: 10px;
        margin-top: 55px;
    }

    .form_column_right {
        margin-top: 55px;
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    .wpcf7-form-control.wpcf7-text {
        width: 450px;
    }
}

@media all and (max-width: 500px) {
    .title_order {
        font-size: 300%;
        padding-top: 225px;
    }

    .wpcf7-form-control.wpcf7-text {
        width: 450px;
    }
}
