/* section Nous rencontrer */

.block_meet {
    padding-top: 45px !important;
}

.flower_meet {
    min-width: 120px;
    padding-top: 90px;
    padding-left: 12%;
}

.wp-image-1657 {
    width: 145px;
    height: 150PX;
    position: absolute;
    top: 0px;
}

.title_meet {
    color: #D2776A;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    padding-bottom: 10px;
}

.text_meet {
    max-width: 669px;
}

/* section pour l'arrondie */

.round_team {
    padding-top: 80px;
    margin-bottom: 8px;
    margin-top: -1px;
    border-radius: 0 0 70% 70%;
    border-top: 2px solid #ECE2DA;
    border-bottom: 2px solid #FFFFFF;
    color: #ECE2DA;
    background-color: #ECE2DA;
}

/* section l'équipe */

.block_staff {
    max-width: 1400px;
    padding-bottom: 81px;
}

.title_staff {
    text-align: center;
    padding-top: 70px !important;
}

.wp-block-uagb-container.uagb-block-ab279ebd {
    position: relative;
    z-index: 2;
}

.flower_staff {
    max-width: 192px;
    position: absolute;
    right: 0%;
    bottom: -93px;
    height: auto;
    z-index: 1;
}

/* section Nous contacter */

.block_form {
    padding-bottom: O !important;
}

.title_form_meet {
    text-align: center;
    padding-top: 66px;
    padding-bottom: 45px;
}

.block_form_contact {
    max-width: 383px;
}

.wpcf7-form-control.wpcf7-text {
    margin-top: 13px;
    margin-bottom: 22px;
}

.wpcf7-form.init {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: #ECE2DA;
    padding-left: 35%;
    padding-right: 35%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    height: 271px;
    border-radius: 5px;
    margin-top: 13px;
    margin-bottom: 4px;
    border: 1px solid white;
}

.form_contact_submit {
    text-align: center;
}

.form_contact>P {
    text-align: start;
}

/* positionnement du feuillage du formulaire */

.wpcf7 {
    position: relative;
    z-index: 2;
}

.flower_form {
    width: 383px !important;
    position: relative;
    z-index: 1 !important;
    bottom: 326px;
    left: -101px;
}

.wp-block-image.size-full.flower_form {
    height: 0px;
}

/* bannière de cantettes */

.bobines_picture_meet {
    background-color: #ECE2DA;
}

.wp-image-1645 {
    width: 100%;
}

.wp-block-uagb-container.uagb-block-81c6457c {
    padding-bottom: 0 !important;
}


@media all and (max-width: 1200px) {

    .flower_staff {
        display: none;
    }
}

@media all and (max-width: 768px) {

    .title_meet {
        font-size: 32px;
        padding-top: 150px;
    }

    .flower_meet,
    .flower_form {
        display: none;
    }
}

@media all and (max-width: 400px) {

    .title_meet {
        font-size: 25px !important;
        padding-top: 180px !important;
    }

    .flower_meet,
    .flower_form {
        display: none;
    }
}