footer {
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;

    background-color: #FFFFFF;
    height: 60px;
    padding-top: 19px;
}

.mention_link {
    padding-left: 30px;
    padding-right: 30px;
}