.logo {
    width: 228px;
    height: 19px;
    padding-left: 37px;

    flex-grow: 1;
    flex-basis: auto;
}

.nav_bar {
    height: 80px;
    font-weight: 700;
    font-size: 13px;
    color: black;
    background-color: var(--blanc);
    padding-top: 30px;
    padding-bottom: 31px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_bar_menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.menu {
    color: black;

    padding-left: 25px;
    padding-right: 25px;
}

.commander {
    height: 81px;
    color: var(--blanc);
    background-color: var(--corail);
    padding: 28px 61px 36px 61px;
}

@media all and (max-width: 700px) {

    .nav {
        background-color: white;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;


        margin-top: 35px;
        padding-left: 37px;
    }

    .logo {
        width: 100%;

        flex-grow: 1;
        flex-basis: auto;
    }

    .nav_bar {
        width: 100%;
        background-color: white;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 704px) {

    .nav {
        width: 100%;
        height: 80px;
        margin-top: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
    }

    .commander {
        margin-top: 60px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media all and (max-width: 514px) {

    .commander {
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
    }

    .nav {
        padding-top: 32px;
    }
}